*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
}

.topsection{
    padding-bottom: 50px;
}


.weekly{
    padding-bottom: 5px;
}

.monday{
    padding-top: 20px;
    padding-bottom: 50px;
}

.tuesday{
    padding-bottom: 50px;
}

.wedesday{
padding-bottom: 50px;
}

.thursday{
padding-bottom: 50px;
}

.daily h1{
    font-size: 25px;
}

.daily h2{
    font-size: 20px;
}

.daily p{
    font-size: 15px;
}